 body{
     margin: 0;
     padding: 0;
 }
.container{
    background-image: url(./images/Background\ Image1.jpg);
    background-repeat: no-repeat;
    background-size: 57% 44%;
    background-position: right top;
    background-color: black;
}
nav{
    float: right;
}
nav > ul > li{
    display: inline-block;
    padding: 20px;
}
nav > ul > li > a{
    text-decoration: none;
    padding: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    transition: 0.3s;
}
#active{
    border: 2px solid whitesmoke;
    color: rgb(14, 184, 184);
    padding: 20px;
    border-radius: 5px;
}
nav > ul > li > a:hover{
    background-color: whitesmoke;
    color: rgb(78, 9, 9);
    border-radius: 5px;
    transition: 0.3s;
}
#image1{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    padding-right: 20px;
}
.paragraph{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0 20px;
}
.paragraph > p{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    text-align: center;
    padding-top: 25px;
    color: rgb(14, 184, 184);
}
.heading{
    text-align: center;
    border: 3px solid ;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 0 30% 0 30%;
    font-family: sans-serif;
    text-decoration: underline;
    margin-top: 150px;
    padding: 10px;
}
.heading > h1{
    color: rgb(53, 39, 39);
    font-size: 40px;
}
.heading > h1 > span{
    color: saddlebrown;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.bottom > .coffee >img{
    height: 250px;
    width: 450px;
    border-radius: 10px;
    border: 5px solid black;
}
.bottom > .icons > ul > li > img{
    height: 30px;
    width: 30px;
} 
.bottom > .icons > ul >li{
    list-style-type: none;
    margin-left: 400px;
    margin-top: 5px;
    color: whitesmoke;
    font-family: sans-serif;
}
.icons{
    padding-top: 50px;
}
.footer{
    position: relative;
    font-family: sans-serif;
    background-color: rgb(20, 9, 1);
    color: rgb(194, 188, 188);
}
.footer-content{
    display: flex;
}
.footer-section{
    flex: 1;
    padding: 10px 30px 10px 30px;
    text-align: left;
}
.footer-bottom{
    text-align: center;
    background-color: black;
    color: rgb(194, 188, 188);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.footer-section form{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.text{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(54, 52, 52);
    border: none;
}
.text:focus{
    background: whitesmoke;
    border: none;
}
.btn{
    padding: 10px;
    margin: 5px 80px 40px 80px;
    border-radius: 10px;
}
.btn:hover{
    background-color: saddlebrown;
}
#links{
    color: rgb(194, 188, 188);
    font-size: large;
    text-decoration: none;
    margin-bottom: 10px;
    transition: .3s;
}
#links:hover{
    margin-left: 10px;
    color: whitesmoke;
    transition: .3s;
}
h3{
    color: saddlebrown;
}
